section.halaman4 {
  background: #e2e2e2bd;
  z-index: 2;
  transition-delay: 0.5s;
}

.preview-galeri {
  display: flex;
  flex-direction: row;
  /* background: rgba(255, 255, 255, 0.2); */
  width: 90dvw;
  height: 17dvh;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 1;
}

.preview-galeri img {
  width: 30vw;
  height: 14dvh;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.preview-galeri img:nth-child(1),
.preview-galeri img:nth-child(2),
.preview-galeri img:nth-child(3) {
  border: none;
}

.preview-galeri img:nth-child(1),
.preview-galeri img:nth-child(3) {
  width: 19dvw;
  height: 12dvh;
  opacity: 0.5;
}

.preview-galeri img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* ini galerinya mnyt */
.galeri {
  column-count: 3;
  padding: 15px;
}

.foto-galeri,
video.foto-galeri {
  width: 100%;
  max-width: 220px;
  aspect-ratio: 1 / 1;
  height: auto;
  min-height: 120px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  background-color: #000;
  transition: transform 0.3s, box-shadow 0.3s;
  display: block;
  margin: 0 auto 18px auto;
}

.foto-galeri:hover {
  transform: scale(1.03);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
}

.lightbox-content img,
.lightbox-content video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
